# encoding: utf-8
<div>
	<table>
		<tr>
			<td>
				<%= @opr1.inspect %> * <%= @opr2.inspect %> 
			</td>
			<td> = </td>
		<td>
		\begin{bmatrix}
			<%= @result.html_safe %>
		\end{bmatrix}
		</td>
		</tr>
	</table>	
		<!--
			\begin{bmatrix}
				1&1&1\\1&1&1
			\end{bmatrix}
		-->

<div>
	
</div>

</div>